/* Global rules */

:root {
  --purple: #5c48d3;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

/* Header */

header {
  display: flex;
  align-items: center;
  height: 120px;
  border-bottom: solid 1px var(--purple);
}

h1,
.stopwatch {
  font-size: 48px;
}

.stopwatch {
  color: var(--purple);
  margin-right: 30px;
}

/* Main */

main {
  height: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter-element {
  display: flex;
  flex-direction: column;
}

main button {
  border: none;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  background-color: white;
}

main > button,
.counter-element > button,
.counter-element > div > span {
  background-color: var(--purple);
  font-size: 30px;
  color: white;
}

.counter-element > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-element > div > button,
.counter-element > div > span {
  height: 80px;
  width: 80px;
  font-size: 60px;
  border-radius: 5px;
  text-align: center;
  line-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter-element > div > span {
  background-color: var(--purple);
}

.disabled {
  opacity: 0.7;
}

/* Footer */

footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid 1px var(--purple);
}

footer a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  font-weight: bold;
}

footer a:hover {
  color: var(--purple);
}
